---
import { getCollection } from 'astro:content'
import Layout from '../../layouts/Layout.astro'
import { getSortedWorks } from '../../utils/getSortedPosts'
import WorkArticle from '../../components/cards/WorkArticle.astro'

const works = await getCollection('work')
const sortedWorks = getSortedWorks(works)
---

<Layout title="Works">
   <h1 class="text-md font-semibold text-blue-600">All Works</h1>
   <p>A collaction all the the porjects I have contributed to or created.</p>
   {
      sortedWorks.map((w) => (
         <WorkArticle
            id={w.id}
            slug={w.data.workSlug}
            title={w.data.title}
            description={w.data.description}
            tags={w.data.tags}
            image={w.data.image}
         />
      ))
   }
</Layout>
