---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { getSortedPosts, getSortedWorks } from '../utils/getSortedPosts'
import WorkArticle from '../components/cards/WorkArticle.astro'
import BlogArticle from '../components/cards/BlogArticle.astro'

// blog posts
const posts = await getCollection('blog')
const sortedPosts = getSortedPosts(posts)
const featuredPosts = sortedPosts.filter(({ data }) => data.featured)

// work posts
const works = await getCollection('work')
const sortedWorks = getSortedWorks(works)
const featuredWorks = sortedWorks.filter(({ data }) => data.featured)
---

<Layout title="Home">
   <img
      src="/profile.png"
      alt="Astro Logo"
      class="rounded-full h-52 w-52 object-cover mx-auto"
   />

   <section class="mt-16">
      <h2 class="text-md font-semibold text-blue-600">About Me</h2>
      <p class="text-base my-4">
         Hello! I'm Tim Bouma from The Netherlands, a self-taught full-stack software
         developer with a passion for creating impactful digital solutions. My entry
         into tech was ignited by a curiosity about new IT developments. I've build
         web applications using Next.js and TypeScript, using the potential of
         serverless resources on Microsoft Azure, while also develeping a mobile
         application using Flutter.
      </p>
      <a href="/about" class="text-yellow-500 hover:underline"> More about me</a>
   </section>

   <section class="mt-8">
      <h2 class="text-md font-semibold text-blue-600">Recent Thoughts</h2>
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
         {
            featuredPosts.map((p) => (
               <BlogArticle
                  id={p.id}
                  slug={p.data.postSlug}
                  title={p.data.title}
                  description={p.data.description}
                  tags={p.data.tags}
               />
            ))
         }
      </div>

      <section class="mt-8">
         <h2 class="text-md font-semibold text-blue-600">Works</h2>
         {
            featuredWorks.map((p) => (
               <WorkArticle
                  id={p.id}
                  slug={p.data.workSlug}
                  title={p.data.title}
                  description={p.data.description}
                  image={p.data.image}
                  tags={p.data.tags}
               />
            ))
         }
      </section>
   </section>
</Layout>
